* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
#root {
  width: 100vw;
  overflow-x: hidden;
}
.masterAppContainer {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.playBoxContainer {
  padding-top: 4vh;
  width: 80%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  flex-wrap: wrap;
}
